html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.main-layout {
    height: 100vh;
}

/* 左ペイン群 */
.left-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* ツアー一覧 */
#paneA {
    height: 40%;
    overflow-y: auto;

    border: 1px solid #ccc;
    padding: 10px;
}

/* ルーム一覧 */
#paneB {
    height: 60%;
    overflow-y: auto;

    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
}

/* 右側カラム */
.right-column {
    height: 100vh;
    padding: 0;
}

/* ルーム情報 */
#paneC {
    height: 100vh;
    overflow-y: auto;

    border: 1px solid #ccc;
    padding: 10px;
}

/* 見出し */
h5 {
    margin-bottom: 10px;
}